.container {
  // max-width: 120rem;
  margin: 0 auto;
}

// NAV

.nav__main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  font-family: var(--sub-header-font-family);
  font-style: var(--sub-header-font-style);
  font-size: 1.4rem;
  color: var(--color-pink-light-text);
  background-color: var(--color-grey-dark-1);
  border-bottom: 1px solid var(--color-pink-light-text);
  list-style: none;
  &--ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    // margin: 0 2rem 2rem 0;
    padding: 2rem 2rem 1rem 0;
    list-style: none;
  }

  &--li {
    padding-right: 8rem;
  }
}

// HEADER

.section-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // margin: 2.5rem;
  height: 100%;
  background-color: var(--color-grey-dark-1);
  background-size: cover;
  padding: 10rem;

  border-radius: 4px;
  // box-shadow:  7px 7px 14px #d3d3d3,
  //            -7px -7px 14px #ededed;

  &__title {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
    color: var(--color-pink-light-text);

    // border: 2px solid purple;

    &--main {
      height: 24rem;
      width: 75%;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 5rem;

      // border: 1px solid pink;

    }

    &--sub {
      font-family: 'Roboto Mono';
      font-style: italic;
      font-weight: 700;
      font-size: 4rem;
      margin-top: 2rem;

      width: 50%;
      // border: 1px solid yellow;

    }
  }
  &__right {
    margin: 5rem;
    width: 15rem;
    padding-right: 12rem;
    // border: 2px solid lightblue;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;

    &--picture {
      // border: 1px solid green;
      margin-bottom: 10rem;
    }

    &--project-nav {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 5rem;
      color: var(--color-pink-light-text);
      text-align: center;
      // align-self: flex-start;

      width: 40rem;
      // border: 1px solid red;
    }

    &--container-project {
      display: flex;
      justify-content: center;
    }

    &--project-h2 {
      margin-top: 4rem;
    }

    &--arrow {
      margin-right: 2rem;
    }
  }
}

.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-5px);
  }
}
